<div class="form-group">
    <label for="inputMatch" class="col-sm-2 control-label">Pattern to Match</label>

    <div class="col-md-10">
        <input 
            type="text" 
            id="inputMatch"
            name="check[match]" 
            value="<%= check.getPollerParam('match') || '' %>" 
            class="form-control" 
        />

        <p class="help-block">Uses regular expressions. Leave blank to disable pattern detection.</p>
    </div>
</div>