<h2>Checks</h2>

<table id="checkUptimeBars" class="adjustedOnDateNavigation table">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width: 66%">Stats</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
    
<script>
jQuery(function($) {
    var updateChecks = function() {
        var queryString = typeof dateInterval == 'undefined' ? '' : dateInterval.getIntervalQueryString();
        $.getJSON('<%= url %>' + dateInterval.type + '/' + dateInterval.date, function(stats) {
            var bars = [];
            $.each(stats, function(index, stat) {
                bars.push(window.templates.checkUptimeItem({ 
                    stat: stat, 
                    type: dateInterval.type, 
                    date: dateInterval.date, 
                    begin: dateInterval.begin.valueOf(), 
                    end: dateInterval.end.valueOf(), 
                    route: '<%= route %>' 
                })
            )});

            $('#checkUptimeBars tbody').html(bars.join(''));
        });
    };

    updateChecks();
    dateInterval.on('change-date', updateChecks);
});
</script>
