<div class="stat" style="display:none">
    <h2>Data</h2>
    <table class="table stat" style="display:none">
        <thead>
            <tr>
                <th class="date">Date</th>
                <th title="Percentage of uptime">Availability</th>
                <th title="Total downtime">Downtime</th>
                <th title="Percentage of all pings below slow threshold">Responsiveness</th>
                <th title="Average response time of all pings">Response Time</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="ping" style="display:none">
    <h2>Data - Pings</h2>
    <table class="table ping" style="display:none">
        <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Response Time</th>
                <th>Details</th>
                <th class="error">Error</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<script>
jQuery(function($) {
    var pingHasValidUrl = function(ping) {
        return ping.details && ping.details.url && /^([a-z]([a-z]|\d|\+|-|\.)*):(\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?((\[(|(v[\da-f]{1,}\.(([a-z]|\d|-|\.|_|~)|[!\$&'\(\)\*\+,;=]|:)+))\])|((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=])*)(:\d*)?)(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*|(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)){0})(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(\#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(ping.details.url);
    };
    var updateStats = function() {
        var dateFormats = {
            'day': 'LLLL',
            'month': 'dddd, LL',
            'year': 'MMMM YYYY'
        }
        var type = dateInterval.type;
        var subType = dateInterval.subType(type);
        var date = dateInterval.momentForDate;
        var begin = dateInterval.begin;
        var end = dateInterval.end;
        var stats = dateInterval.stats;
        var lines = [];
        if (type == 'hour') {
            // display pings
            $.each(stats, function(key, stat) {
                lines.unshift(window.templates.pingItem({ 
                    ping: stat, 
                    pingHasValidUrl: pingHasValidUrl })
                );
            });
            $('#data .stat').hide();
            $('#data .ping tbody').html(lines.join(''));
            $('#data .ping').show();
        } else {
            // display aggregated stats
            $.each(stats, function(key, stat) {
                lines.unshift(window.templates.statItem({ 
                    stat: stat, 
                    dateFormat: dateFormats[type], 
                    subType: subType })
                );
            });
            $('#data .ping').hide();
            $('#data .stat tbody').html(lines.join(''));
            $('#data .stat').show();
        }
    }
    dateInterval.on('refresh-stats', updateStats);
    $('.stat table').on('click', 'a.date', function(event) {
        var data = $(this).data();
        dateInterval.update(data.type, parseInt(data.date));
        return false;
    });
});
</script>
