<h1>Create A New Check</h1>

<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>

<%- partial('_check_details', { check: check, pollerCollection: pollerCollection, pollerDetails: '', route: route }) %>

<script>
jQuery(function($) {
  activateMenu(1);
});
</script>
